{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post-detail.css' %}">
{% endblock  %}

{% block title %}
    This Post title
{% endblock %}

{% block content %}
    <section id="summary">  {% comment %} the post title, image, author, the day post was published {% endcomment %}
        <h2>Post Title</h2>
        <article>
            <img src="{% static 'blog/images/mountains.jpg' %}" alt="Post Title">
            <address>By Fatemeh</address>
            <div>
                Last Updated on <time>July 10th</time>
            </div>
        </article>
    </section>
    <main>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores iste excepturi ipsum doloremque. Sequi aut illum, nemo laudantium at saepe corporis corrupti expedita amet distinctio, tempora similique non deserunt ipsum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores iste excepturi ipsum doloremque. Sequi aut illum, nemo laudantium at saepe corporis corrupti expedita amet distinctio, tempora similique non deserunt ipsum!
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores iste excepturi ipsum doloremque. Sequi aut illum, nemo laudantium at saepe corporis corrupti expedita amet distinctio, tempora similique non deserunt ipsum!
        </p>

    </main>
{% endblock  %}